<div class="containerLayout">
  <div class="containerLayout-divTitles">
    <div class="containerLayout-divTitles_divTagTitle">
      <div class="containerLayout-divTitles_tagTitle">
        <p>Blog Post</p>
      </div>
    </div>
    <div class="containerLayout-divTitles_titleBlog">
      <h1>Title The Blog</h1>
      <button class="containerLayout-divTitles_titleBlogButton">
        View All Post ->
      </button>
    </div>
    <div class="containerLayout-divTitles_descriptionBlog">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eveniet
        minus praesentium voluptatibus esse quisquam possimus! Aliquam est quod
        eum aperiam commodi incidunt fugiat, nesciunt iusto esse quas neque
        magni.
      </p>
    </div>
  </div>

  <div class="containerLayout-posts">
    <div class="containerLayout-posts_divpost">
      <img
        class="containerLayout-posts_techimage"
        src="assets/imgs/techUm.png"
        alt="Imagem 1"
      />
      <div class="containerLayout-posts_divTexts">
        <h3>Blog Post Title</h3>
        <p class="containerLayout-posts_divTextsDescripition">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo
          officiis, sunt sed corrupti, quaerat consectetur veritatis eos.
        </p>
        <p class="containerLayout-posts_divTextsMore">Read More -></p>
      </div>
    </div>
    <div class="containerLayout-posts_divpost">
      <img
        class="containerLayout-posts_techimage"
        src="assets/imgs/tecDois.png"
        alt="Imagem 2"
      />
      <div class="containerLayout-posts_divTexts">
        <h3>Blog Post Title</h3>
        <p class="containerLayout-posts_divTextsDescripition">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo
          officiis, sunt sed corrupti, quaerat consectetur veritatis eos.
        </p>
        <p class="containerLayout-posts_divTextsMore">Read More -></p>
      </div>
    </div>
  </div>
</div>
